
 .bg-color {
    background-color: rgb(230, 226, 236); 
    height: 100vh; 
    width: 100%; 
}

.contact-info {
    text-align: center;
    margin-top: 50px;
}
.contact-info h2 {
    margin-bottom: 20px;
}
.contact-info .icon {
    margin: 10px;
    font-size: 24px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }

  .content {
    flex: 1;
  }


  .table-transparent {
    background-color: transparent;
  }
  
  .table-transparent th,
  .table-transparent td {
    background-color: rgba(255, 255, 255, 0.097); 
    border-color: rgb(0, 0, 0);
  }

  .card-transparent {
    background-color: rgba(255, 255, 255, 0.097); 
    border: 1px solid rgba(14, 13, 13, 0.921); 
  }
  
  .card-transparent .card-header,
  .card-transparent .card-body {
    background-color: transparent;
  }

  .list-group-transparent .list-group-item {
    background-color: rgba(255, 255, 255, 0.097); 
    border: 1px solid rgba(255, 255, 255, 0);
  }